In [1]:
import pandas as pd
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [4]:
OLD_PATH = '../Data/train.csv'
NEW_PATH = '../Data/labels.csv'

In [5]:
df = pd.read_csv(OLD_PATH)

In [6]:
ids = df.category_id.unique()
ids

array([19,  0,  3,  8,  4, 13,  1, 11, 16, 17, 14, 18, 10, 22])

In [7]:
animal_to_idx = {'empty': 0, 'deer': 1, 'squirrel': 3, 'rodent': 4, 'rabbit': 8, 'fox': 10, 'coyote': 11, 
 'raccoon': 13, 'skunk': 14, 'bobcat': 16, 'cat': 17, 'dog': 18, 'opossum': 19, 'mountain_lion': 22}
idx_to_animal = {v: k for k, v in animal_to_idx.items()}

In [30]:
idx_to_animal

{0: 'empty',
 1: 'deer',
 3: 'squirrel',
 4: 'rodent',
 8: 'rabbit',
 10: 'fox',
 11: 'coyote',
 13: 'raccoon',
 14: 'skunk',
 16: 'bobcat',
 17: 'cat',
 18: 'dog',
 19: 'opossum',
 22: 'mountain_lion'}

In [8]:
order = list(animal_to_idx.keys())

In [9]:
print(order)
order.index('deer')

['empty', 'deer', 'squirrel', 'rodent', 'rabbit', 'fox', 'coyote', 'raccoon', 'skunk', 'bobcat', 'cat', 'dog', 'opossum', 'mountain_lion']

1

In [10]:
old_to_new = {old: order.index(animal) for old, animal in idx_to_animal.items()}
old_to_new

{0: 0,
 1: 1,
 3: 2,
 4: 3,
 8: 4,
 10: 5,
 11: 6,
 13: 7,
 14: 8,
 16: 9,
 17: 10,
 18: 11,
 19: 12,
 22: 13}

In [11]:
df.iloc[0]

category_id                                             19
date_captured                          2011-05-13 23:43:18
file_name         5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg
frame_num                                                1
id                    5998cfa4-23d2-11e8-a6a3-ec086b02610b
location                                                33
rights_holder                                 Justin Brown
seq_id                6f084ccc-5567-11e8-bc84-dca9047ef277
seq_num_frames                                           3
width                                                 1024
height                                                 747
Name: 0, dtype: object

In [28]:
df['label'] = df.apply(lambda row: idx_to_animal[row.category_id], axis=1)

In [29]:
df

,category_id,date_captured,file_name,frame_num,id,location,rights_holder,seq_id,seq_num_frames,width,height,label
0,19,2011-05-13 23:43:18,5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg,1,5998cfa4-23d2-11e8-a6a3-ec086b02610b,33,Justin Brown,6f084ccc-5567-11e8-bc84-dca9047ef277,3,1024,747,opossum
1,19,2012-03-17 03:48:44,588a679f-23d2-11e8-a6a3-ec086b02610b.jpg,2,588a679f-23d2-11e8-a6a3-ec086b02610b,115,Justin Brown,6f12067d-5567-11e8-b3c0-dca9047ef277,3,1024,747,opossum
2,0,2014-05-11 11:56:46,59279ce3-23d2-11e8-a6a3-ec086b02610b.jpg,1,59279ce3-23d2-11e8-a6a3-ec086b02610b,96,Erin Boydston,6faa92d1-5567-11e8-b1ae-dca9047ef277,1,1024,747,empty
3,0,2013-10-06 02:00:00,5a2af4ab-23d2-11e8-a6a3-ec086b02610b.jpg,1,5a2af4ab-23d2-11e8-a6a3-ec086b02610b,57,Erin Boydston,6f7d4702-5567-11e8-9e03-dca9047ef277,1,1024,747,empty
4,0,2011-07-12 13:11:16,599fbd89-23d2-11e8-a6a3-ec086b02610b.jpg,3,599fbd89-23d2-11e8-a6a3-ec086b02610b,46,Justin Brown,6f1728a1-5567-11e8-9be7-dca9047ef277,3,1024,747,empty
...,...,...,...,...,...,...,...,...,...,...,...,...
196294,0,2013-10-04 12:33:13,597b495c-23d2-11e8-a6a3-ec086b02610b.jpg,1,597b495c-23d2-11e8-a6a3-ec086b02610b,26,Erin Boydston,6f20b923-5567-11e8-b4d7-dca9047ef277,1,1024,747,empty
196295,0,2014-02-16 04:00:00,594e7621-23d2-11e8-a6a3-ec086b02610b.jpg,1,594e7621-23d2-11e8-a6a3-ec086b02610b,70,Erin Boydston,6fd3878c-5567-11e8-b9c2-dca9047ef277,1,1024,747,empty
196296,4,2011-11-25 03:10:50,596d6468-23d2-11e8-a6a3-ec086b02610b.jpg,3,596d6468-23d2-11e8-a6a3-ec086b02610b,33,Justin Brown,6f0922e6-5567-11e8-b8c8-dca9047ef277,3,1024,747,rodent
196297,0,2014-03-27 05:00:00,58f5b062-23d2-11e8-a6a3-ec086b02610b.jpg,1,58f5b062-23d2-11e8-a6a3-ec086b02610b,106,Erin Boydston,6f710745-5567-11e8-bbfd-dca9047ef277,1,1024,747,empty
196298,0,2014-05-23 12:18:36,589e668f-23d2-11e8-a6a3-ec086b02610b.jpg,1,589e668f-23d2-11e8-a6a3-ec086b02610b,96,Erin Boydston,6fb40d1e-5567-11e8-8679-dca9047ef277,1,1024,747,empty

In [31]:
new = df.filter(['file_name', 'label'], axis=1)

In [34]:
new

                                       file_name    label
0       5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
1       588a679f-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
2       59279ce3-23d2-11e8-a6a3-ec086b02610b.jpg    empty
3       5a2af4ab-23d2-11e8-a6a3-ec086b02610b.jpg    empty
4       599fbd89-23d2-11e8-a6a3-ec086b02610b.jpg    empty
...                                          ...      ...
196294  597b495c-23d2-11e8-a6a3-ec086b02610b.jpg    empty
196295  594e7621-23d2-11e8-a6a3-ec086b02610b.jpg    empty
196296  596d6468-23d2-11e8-a6a3-ec086b02610b.jpg   rodent
196297  58f5b062-23d2-11e8-a6a3-ec086b02610b.jpg    empty
196298  589e668f-23d2-11e8-a6a3-ec086b02610b.jpg    empty

[196299 rows x 2 columns]

In [35]:
new.to_csv(NEW_PATH, index=False)

In [25]:
df.groupby(['width', 'height']).size()

width  height
1024   747       189960
       748         1880
       768         4459
dtype: int64

In [26]:
(747*189960 + 748*1880 + 768*4459)/len(df)

747.4865995241952

In [27]:
1024/2, 747/2

(512.0, 373.5)